@import url(https://fonts.googleapis.com/css?family=Karla);

:root {
    /* Define variables for light colors,
       we can later redefine these for
       the dark mode */
    --text-color-normal: #000;
    --text-color-accent: #e85a4f;
    --text-color-link: #e98074;
    --background: #eae7dc;
    --box-border: #8e8d8a;
}


@media (prefers-color-scheme: dark) {
    :root {
        /* Redefine variables for dark mode */
        --text-color-normal: #fff;
        --text-color-accent: #e85a4f;
        --text-color-link: #edf5e1;
        --background: #000;
        --box-border: var(--text-color-normal);
    }

}

html, body {
    height: 100%;
    background-color: var(--background);
    margin: 0;
    font-family: 'Karla', sans-serif;
}

.by {
    padding-right: 5%;
    font-size: 10px;
    text-transform: uppercase;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

h2, h3, .info {
    font-size: 10px;
    text-transform: uppercase;
}

h4 {
    margin-top: 2%;
    font-size: 15px;
    text-transform: uppercase;
    color: #e85a4f;
    font-size: x-large;
}

h5 {
    font-size: 8px;
    margin-bottom: 5%;
    color: #e85a4f;
}

h6 {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;

}

a:link, a:visited {
    text-decoration: none;
    color: var(--text-color-normal);
}

.gridTable {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0.2fr repeat(6, 1fr);
    grid-auto-flow: row;
    align-items: stretch;
    justify-content: space-evenly;
    background-color: var(--background);
}

.handdrawnbox {
    border-collapse: separate !important;
    border: 2px solid #8E8D8A;
    border-bottom-left-radius: 20px 150px;
    border-bottom-right-radius: 225px 20px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    padding: 5px 5px 5px 5px;
}

.tableHeader {
    text-align: center;
    font-weight: bold;
}

.inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.room, .time {
    align-self: flex-start;
    width: 100%;
}

.room {
    font-style: italic;
    font-size: smaller;
    vertical-align: text-top;
}

.subject {
    font-weight: bold;
}

.popover-body {
    background-color: #E98074;
    border-collapse: separate !important;
    border: 2px solid #444340;
    border-bottom-left-radius: 20px 150px;
    border-bottom-right-radius: 225px 20px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;

    padding: 5px 5px 5px 5px;
    color: var(--background);
}


a.special {
    color: #E98074;
}

a.aPopover {
    color: var(--background);
}

a.special:hover, a.aPopover:hover {
    border-collapse: separate !important;
    border-bottom: 1px solid var(--background);
    border-bottom-left-radius: 20px 0px;
    border-bottom-right-radius: 225px 20px;
}

a.aPopover:hover {
    color: var(--text-color-normal);
}

a:hover {
    color: #E98074;
}

a.special:hover {
    color: var(--text-color-normal);
}

.container {
    height: 100%;
    width: 70%;
    margin: 0 auto;
    background-color: var(--background);
    color: var(--text-color-normal);
}

.infoContainer {
    display: inline;
}

.ver {
    font-size: 10px;
}

.table1, .table2, .table3 {
    padding-top: 5%;
    width: 100%;
    text-align: center;
    table-layout: fixed;
    word-wrap: break-word;
    border-collapse: collapse;
    border-collapse: separate !important;
}

/* name says it all */

.tabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;

}

.input {
    position: absolute;
    opacity: 0;
}

.label {
    width: auto;
    padding: 0px 10px;
    color: var(--text-color-normal);
}

.label:hover {
    color: var(--text-color-accent);
}

.input:focus + .label {
    z-index: 1;
}

.input:checked + .label {
    background: var(--text-color-accent);
    color: white !important;
}

.panel {
    order: 99;
    display: none;
    width: 100%;
    margin: 0 auto;
    background: var(--background);
}

.customize, .theme, .toggleImg {
    display: inline;
    color: var(--text-color-normal);
}

.icon {
    padding: 0 5px 0 5px;
}

.theme {
    color: #444340;
    padding: 0 5px 0 5px;
}

.input:checked + .label + .panel {
    display: block;
}

.icon {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

@media screen and (max-width: 900px) {

    .gridTable {
        display: unset;
    }

    .tableHeader {
        margin: 25px 0 10px 0;
    }

    .container {
        width: 90%;
    }
}